---
export interface Props {
  href: string;
  label: string;
  icon: string;
}

const { href, icon, label } = Astro.props;
---

<a
  data-tooltip={label}
  target="_blank"
  class="tooltip tooltip-bottom flex items-center p-2 text-indigo-500 hover:text-indigo-600 transition-all"
  href={href}
>
  <div
    class="w-5 h-5 p-px fill-current inline-flex items-center"
    set:html={icon}
  />
  <span class="sr-only">{label}</span>
</a>

<style lang="scss">
  // Tooltips
  .tooltip {
    position: relative;
    &::after {
      @apply bg-gray-700/90 rounded-sm text-white text-xs px-2 py-1 z-10 max-w-xs;
      bottom: 100%;
      content: attr(data-tooltip);
      display: block;
      left: 50%;
      opacity: 0;
      overflow: hidden;
      pointer-events: none;
      position: absolute;
      text-overflow: ellipsis;
      transform: translate(-50%, 0.625rem);
      transition: all 0.2s ease;
      white-space: nowrap;
    }
    &:focus,
    &:hover {
      &::after {
        opacity: 1;
        transform: translate(-50%, -0.3125rem);
      }
    }
    &[disabled],
    &.disabled {
      pointer-events: auto;
    }

    &.tooltip-right {
      &::after {
        bottom: 50%;
        left: 100%;
        transform: translate(-0.625rem, 50%);
      }
      &:focus,
      &:hover {
        &::after {
          transform: translate(0.3125rem, 50%);
        }
      }
    }
    &.tooltip-bottom {
      &::after {
        bottom: auto;
        top: 100%;
        transform: translate(-50%, -0.625rem);
      }
      &:focus,
      &:hover {
        &::after {
          transform: translate(-50%, 0.3125rem);
        }
      }
    }
    &.tooltip-left {
      &::after {
        bottom: 50%;
        left: auto;
        right: 100%;
        transform: translate(0.625rem, 50%);
      }
      &:focus,
      &:hover {
        &::after {
          transform: translate(-0.3125rem, 50%);
        }
      }
    }
  }
</style>
